#form-container {
    display:flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    padding: 20px;
    background-color: tan;
}

button {
    margin-top: 5px;
    padding: 3px;
}

button:hover {
    cursor: pointer;
}
